.register-container {
    display: flex;
    justify-content: center;
}

.form-container {
    min-width: 600px;
    max-width: 1000px;
    margin-top: 40px;
    padding: 35px;
}

mat-card {
    padding: 1em;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .5em;
    margin-top: 20px;
}

mat-form-field {
    width: 100%;
}

.sm-form-field {
    width: 50%;
}

mat-card-actions {
    padding-left: 1em;
    gap: 1em;
}